:root {
    --basic-black:#000000;
    --basic-gray: #727272;
    --light-gray: #EEEFF1;
    --middle-gray:#C4C4C4;
    --dark-gray: #5F5D5D;
    --basic-blue: #34547A;
    --basic-white: #FFFFFF;
    

}

html {
    
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 26px;
    color: var(--basic-gray);
}
.body {
    margin: 0;
}
.img {
    max-width: 100%;
    height: auto;
}

.section-title {
    color: var(--basic-black);
    font-weight: 500;
font-size: 32px;
line-height: 37px;
}

.container {
    max-width: 1110px;
    margin: 0 auto;
}
.container-small {
    max-width: 540px;
    margin: 0 auto;
    
}


.visually-hidden {
    position: absolute;
    overflow: hidden;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
}


/* ------- header ---------- */
.main-header {
    background-color: var(--light-gray);
    padding: 54 px;
}

.main-logo {
    font-family: 'Revalia', cursive;
    font-size: 48px;
line-height: 60px;
color: var(--basic-blue);
text-decoration: none;
box-sizing: border-box;
}
.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center ;
}
.main-nav-list {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;

}

.main-nav-item + .main-nav-item {
    margin-left: 42px;
}

.main-nav-link {
    text-decoration: none;
    font-size: 16px;
line-height: 26px;
letter-spacing: 0.1em;
text-decoration: none;
 color: var(--basic-black);
 text-transform: uppercase;

}
.main-nav-link.active,
.main-nav-link:hover {
    color: var(--basic-blue);
}

/* ------- !header ---------- */


/* promo */
.promo {
    padding: 130px 0 146px;
    background-color: var(--light-gray);
    padding: 100px;
    margin: 0;
}
.blue-background {
    background: var(--basic-blue);
}
.promo-wrapp {
display: flex;
align-items: center;
}
.promo-image,
.promo-content,
.skills-image,
.skills-content{
    flex: 0 0 50%;
}
.promo-image {
    text-align: center;
}
.promo-image img {
    display:block;
    margin: 0 auto;
}
.promo-content {
 padding: 0 0 10px;   
}
.promo-title {
    font-size: 48px;
    line-height: 79px;
    margin: 0 46px;
}
.about {
    text-align: center;
}
.section-about {
    padding: 100px 0 0;
    text-align: center;
}
.about__content {
    text-align: center;
}
.btn-primary {
letter-spacing: 0.1em;
color: var(--basic-white);
text-decoration: none;
letter-spacing: 0.1em;
text-transform: uppercase;
display: inline-block;
}
.btn-big {
    font-size: 16px;
    line-height: 26px;
    padding: 24px 40px;
}
.second-inform {
    font-size: 16px;
line-height: 26px;
color: var(--basic-gray);
}
.final-button {
    font-size: 14px;
line-height: 23px;
color: var(--dark-gray);
}
.main-second-button {
    font-size: 14px;
    line-height: 23px;
    letter-spacing: 0.15em;
    color:var(--basic-white);


}
.message-button {
    font-size: 14px;
line-height: 23px;
color: var(--dark-gray);

}
.promo-text {
    margin: 0 0 52px;
}

.projects {
    font-size: 16px;
line-height: 26px;
color: var(--basic-white);

}
/* !promo */

/* ------- footer ------- */
.author-name {
    font-size: 21px;
line-height: 25px;
color: var(--basic-white);
}
.copyright-mark {
    font-size: 13px;
line-height: 21px;
color: var(--basic-white);
margin: 20px 0 0;
}
/* ------- !footer ------- */

.advantages {
    padding: 100px 0;

}
.advantages-list {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between ;
    padding: 0;
    list-style-type:none ;
}
.advantages-item {
    display: flex;
    color: var(--basic-white);
    flex: 0 0 auto;
    margin: 10px 0 0;
}
.advantages-item > span {
    margin: 0 0 0 20px;

}
.advantages-strong {
    font-size: 21px;
    line-height: 25px;
    font-weight: 500;
}
.advantages-item + .advantages-item {
    margin-left: 10px;
}

.skills {
    margin: 102px auto;
    display: flex;
    align-items: center;

}
.skills-image {
    margin-left: 32px;
}
.skills-image image {
    display: block;
}
.skills-title {
    margin: 0 0 40px;
}
.skills-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.skills-list li {
    margin: 0 0 28px;
}
.progress {
    background-color: var(--middle-gray);
    max-width: 446px;
    height: 4px;
    margin: 8px 0 0 0;
}
.progress div {
    background-color:var(--basic-blue) ;
    height: 100%;
}
.how-work {
    background-color: var(--light-gray);
    padding: 100px 0 0;
}
.how-work__content {
    text-align: center;
}
.how-work__button {
    max-width: 1110px;
    width: 100%;
    height: 600px;
    cursor: pointer;
    border: none;
    background: url(../img/Rectangle\ 5.png) center / cover no-repeat;
   display: block;
   margin: 50px auto 0;
   position: relative;
}
.how-work__button::after {
    content: "";
    width: 100px;
    height: 100px;
    position: absolute;
    left: 50%;
    top:50%;
    background: url(../img/button.png) center no-repeat;
    transform: translate(-50%, -50%);
}
.gallery {
    padding: 28px 0 0;

}
.gallery-list {
    list-style-type: none;
    max-width: 1920px;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    
}
.gallery-item {
    width: 25%;
    position: relative;
}
.gallery-item img {
    display: block;
}
.gallery-link:hover::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(52, 84, 122, 0.8);


}
.gallery-link:hover::after {
    content:url(../img/view.png);
    position: absolute;
    left: 50%;
   top: 50%;
    transform: translate(-50%,-50%);

}
.clients {
    padding: 70px 0 100px;
}
.clients-list {
    display: flex;
    list-style-type: none;
    max-width: 1110px;
    margin: 0 auto;
    padding: 0;
}
.clients-link {
    width: 25%;
}
.clients-link:hover {
    background:  url(.png);
}
.first-table {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 540px;
}
.first-input {
    width: 254px;
    height: 50px;
    border: none;
    padding: 16px 0 18px 20px;
    font-size: 14px;
    line-height: 23px;
    color: var(--dark-gray);
    
}
.first-input:focus::placeholder {
    color: transparent;
}
.second-table {
    margin: 20px auto;
    max-width: 540px;
}
.second-input {
    width: 540px;
    height: 174px;
    border: none;
    padding: 16px 0 0 20px;
    font-size: 14px;
    line-height: 23px;
    color: var(--dark-gray);
   
}
.second-btn {
    display: block;
    font-size: 14px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.15em;
    padding: 20px 40px;
    color:var(--basic-white);
    margin: 50px auto 100px;
    text-transform: uppercase;
    text-decoration: none;

}
.footer {
    background-color: var(--basic-blue);
    color: var(--basic-white);
    font-size: 13px;
    line-height: 21px;
    margin: 0;
    display: flex;
    width: 100%;
}
.footer-one {
    display: flex;
    width: 50%;
    padding: 50px 0 50px 406px;
    flex-direction: column;
    justify-content: center;
}
.footer-list {
    padding: 64px 0 64px;
    list-style-type: none;
    display: flex;
    width: 50%;
    justify-content: center;
}
.footer-list + .footer-link {
    margin-right: 22px;
}
